:root {
  --main-color: #00ad5f;
  --text-color: #555555;
  --additional-text-color: #ffffff;
  --form-placeholder-color: #666666;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f2f2f2;
}